*.vs
*Debug

/Class_Work/01. Class/.vs
/Class_Work/01. Class/Debug
/Class_Work/02. getters, setter, constructor/.vs
/Class_Work/02. getters, setter, constructor/Debug
/Class_Work/03. Destructor , this/.vs
/Class_Work/03. Destructor , this/Debug
/Class_Work/04. Task. Train/.vs
/Class_Work/04. Task. Train/Debug
/Class_Work/04. Task. Train/04. Task. Train/Debug
/Class_Work/05. Static/.vs
/Class_Work/05. Static/Debug
/Class_Work/05. Static/05. Static/Debug
/Class_Work/06. Internal class/.vs
/Class_Work/06. Internal class/Debug
/Class_Work/06. Internal class/06. Internal class/Debug
/Class_Work/07. Task fish/.vs
/Class_Work/07. Task fish/Debug
/Class_Work/07. Task fish/07. Task fish/Debug
/Class_Work/08. Overload operator =/.vs
/Class_Work/08. Overload operator =/Debug
/Class_Work/08. Overload operator =/08. Overload operator =/Debug
/Class_Work/09. Individual work/.vs
/Class_Work/09. Individual work/Debug
/Class_Work/09. Individual work/09. Individual work/Debug
/Class_Work/10. Friendly function/.vs
/Class_Work/10. Friendly function/Debug
/Class_Work/10. Friendly function/10. Friendly function/Debug
/Class_Work/11. Friendly class/.vs
/Class_Work/11. Friendly class/Debug
/Class_Work/11. Friendly class/11. Friendly class/Debug
/Class_Work/12. Template class/.vs
/Class_Work/12. Template class/Debug
/Class_Work/12. Template class/12. Template class/Debug
/Class_Work/13. Control work/.vs
/Class_Work/13. Control work/Debug
/Class_Work/13. Control work/13. Control work/Debug






=============================================
/Home_Work/11.18.19/.vs
/Home_Work/11.18.19/Debug
/Home_Work/11.20.19/.vs
/Home_Work/11.20.19/Debug
/Home_Work/11.24.19/.vs
/Home_Work/11.24.19/Debug
/Home_Work/11.24.19/11.24.19/Debug