/Class_Work/01. Class/.vs*
/Class_Work/01. Class/Debug*
/Class_Work/02 /.vs*
/Class_Work/02 /Debug*




=============================================
/Home_Work/11.18.19/.vs*
/Home_Work/11.18.19/Debug*
